<h2><%= @category.name() %> Recipes.</h2>


<% if @category.recipes().any?() %>
  <ul class="list-unstyled">
    <% @category.recipes().each() do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
      <% end %>
  </ul>
<% else %>
    <p>No <%= @category.name() %> recipes.</p>
<% end %>


<br>
<form action="/categories/<%=@category.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% if @recipes.any?() %>
  <select id="recipe_id" name='recipe_id' type='text' class="form-control">
    <% @recipes.each() do |recipe| %>
    <option value="<%= recipe.id %>"> <%= recipe.name %> </option>
    <% end %>
  </select>
  <% end %>
  <button type="submit" class="btn-default">Add Recipe to Category</button>
</form>

<br>
<form action="/categories/<%=@category.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-sm btn-default" type="submit">Delete Category</button>
</form>


<p><a href="/"> Home</a></p>
