<h2><%= @recipe.name %></h2>

<h4>How to Make: <%= @recipe.instruction %></h4>


<ul class="list-inline">
  <% @recipe.categories().each() do |category| %>
    <li><a href="/categories/<%= category.id %>"><%= category.name() %></a></li>
    <% end %>
</ul>

<!-- <br>
<form action="/recipes/<%=@recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% if @categories.any?() %>
  <select id="category_id" name='category_id' type='text' class="form-control">
    <% @categories.each() do |category| %>
    <option value="<%= category.id %>"> <%= category.name %> </option>
    <% end %>
  </select>
  <button type="submit" class="btn-default">Add Category</button>
</form>
  <% end %> -->

<br>
<form action="/recipes/<%=@recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn-sm btn-default" type="submit">Delete Recipe</button>
</form>

<a href="/">Back</a>
